.clearfix
    .mod
        strong #{user.hostUrl}
        label #{user.shareID}

    .buttons.right.w33
        button.remove-user.btn.w100
            i.fa.fa-trash.mr1
            |
            span.label= t('revoke user access')
